<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>status:</strong>
  <%= @course.status %>
</p>

<%= link_to 'Back', my_courses_course_mappings_path %>
